<app-navbar></app-navbar>

<div class="imgcontainer">
<a href="/login"><img src="https://i.ibb.co/Zxg1VBF/myhabit.png" alt="myhabit" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'></a><br />

</div>

<div class="box">
        <p>Create a Habit:<p>
    <div class="statuscontainer">

        <div class="habit-row">
            <div class="column">
            <img src="https://i.ibb.co/0j1xHz4/battery-full.jpg" alt="battery-full" border="0">

            <img src="https://i.ibb.co/9byVf8F/book.jpg" alt="book" border="0">

            <img src="https://i.ibb.co/KKWY7gg/heart.jpg" alt="heart" border="0">

            <img src="https://i.ibb.co/V3c9nGS/home.jpg" alt="home" border="0">
            
        </div>

    <form action="action_page.php">

            <div class="form-group">

                <input type="text" class="habitname" rows="4" placeholder="Habit Name">
                <input type="text" class="habitdescription" rows="4" placeholder="Description">

                <br>

                <button type="submit" class="createbtn">Create</button>    
            </div>
            
    </form>



