/* *, *::after, *::before { */
*::after, *::before {
border: 0;
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
--primary: white;
--secondary: #133394;
--light: #f4f5f5;
--danger: #d81616;
--shadow: rgba(99, 99, 99, 0.12);
--base: 1rem;
--large: calc(var(--base)*5);
--med: calc(var(--base)*3);
--sm: calc(var(--base)*1.5);
}

html {
margin: 10px;
padding: 20px;
}

body {
color: #292929;
font: 90% Roboto, Arial, sans-serif;
font-weight: 300;
background-size: cover; 
height: auto;
background-repeat: no-repeat;
background-position: center center;
}

p {
padding: 15px 20px;
line-height: 1.8;
font-size: 10pt;
}

ul li {
padding-right: 10px;
font-size: 9pt;
}

h3 {
padding: 5px 20px;
margin: 0;
font-size: 15pt;
}

h4 {
margin: 0;
}

h5 {
padding: 5px 20px;
margin: 0;
}

div#entirepage-container {
border: 2px solid none;
/* border: 2px solid purple; */
}

div#content-container {
margin: 90px;
/* border: 2px solid red; */
}

#title {
font-size: inherit;
font-family: inherit;
color: inherit;
background-color: var(--light);
padding: .5rem;
}

#title:focus {
outline: 2px solid var(--secondary);
}

.icons {
display: grid;
place-items: center;
padding: var(--sm) 0;
grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
grid-gap: 1rem;
}

.modal-container.active {
opacity: 1;
pointer-events: all;
}

.modal-container.active .modal {
transform: translateY(0);
}

.modal-container {
background-color: whitesmoke;
border: 1px solid red;
position: fixed;
top: 200px;
bottom: 200px;
left: 300px;
right: 300px;
display: grid;
place-items: center;
/* opacity: 0; */
pointer-events: none;
z-index: 4;
transition: all 300ms ease-in-out;
backdrop-filter: blur(10px);
display:none;
}








.modal {
border: 1px solid purple;
/* padding: var(--med); */
background-color: var(--primary);
backdrop-filter: blur(10px);
box-shadow: 1px 4px 30px 10px var(--shadow);
transform: translateY(30%);
transition: all 300ms ease-in;
}

div#entirehabits-container {
border: 2px solid #D8D8D8;
padding: 20px 0px 20px 0px;
background-color: rgb(255, 255, 255, .75);
/* background-color: pink; */
}

.habitbtns-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
margin-left: 20px;
margin-right: 20px;
padding: var(--sm) var(--med);
max-width: 600px;
grid-gap: 1rem;
/* border: 1px solid red; */
}

.habitclass {
display: grid;
padding: var(--sm) var(--med);
border-radius: 50%;
background-color: var(--primary);
border: 1px solid var(--secondary);
color: var(--secondary);
transition: all 300ms ease-in-out;
/* border: 1px solid red; */
}

.habit-button {
width: var(--large);
height: var(--large);
border-radius: 50%;
background-color: var(--primary);
border: 1px solid var(--secondary);
color: var(--secondary);
transition: all 300ms ease-in-out;
}

.habit-button:hover {
opacity: .8;
}

.habit-button.completed {
background-color: var(--secondary);
color: var(--primary);
}

.habit-button svg {
pointer-events: none;
width: var(--med);
height: var(--med);
}

.habit {
display: grid;
place-content: center;
/* border: 1px solid red; */
}

.new-habit {
display: grid;
margin-left: 20px;
margin-right: 20px;
place-content: center;
max-width: 600px;
grid-gap: 1rem;
/* border: 1px solid red; */
}

.new-habit_add {
width: 40px;
height: 40px;
border-radius: 50%;
background-color: var(--secondary);
color: var(--primary);
transition: all 300ms ease-in-out;
cursor: pointer;
justify-content: center;
}

div#container2 {
border: 2px solid none;;
}

div#extra {
border: 2px solid #D8D8D8;
background-color: rgb(255, 255, 255, .75);
margin-top: 20px;
width: 23%;
}

div#habit-statuswrapper {
float: right;
width: 75%;
border: 2px solid none;
}

div#wrapper2 {
float: right;
width: 75%;
margin-top: 20px;
border: 2px solid #D8D8D8;
background-color: rgb(255, 255, 255, .75);
}

div#photobox {
width: 23%;
border: 2px solid #D8D8D8;
background-color: rgb(255, 255, 255, .75);
}

div#footer {
text-align: center;
clear: both;
width: 100%;
border: 2px solid none;
color: black;
}

div#footer p {
padding: 30px 10px;
}

div.image::before {
border-radius: 40px;
padding-left: 10px;
}

img {
height: 92%;
width: 92%;
border-radius: 50%;
margin: auto;
display: block;
}

/*---------------online bug---------------*/
/* .icon-container {
width: 92%;
height: 92%;
position: relative;
}

.online-circle {
width: 15px;
height: 15px;
border-radius: 50%;
background-color: green;
border: 2px solid white;
bottom: 5%;
right: 70%;
position: absolute;
} */

/*---------------status box---------------*/

.statuscontainer {
max-width: 1250px;
padding: 20px;
margin-bottom: 20px;
border: 2px solid #D8D8D8;
background-color: rgb(255, 255, 255, .75);
}

.button-group {
margin-bottom: 0px;
}

.posts {
clear: both;
list-style: none;
}

.posts li {
background-color: #fff;
border: 1px solid #d8d8d8;
padding-top: 10px;
padding-left: 20px;
padding-right: 0px;
word-wrap: break-word;
min-height: 42px;
}
