html {
  height: 100%;
}

body {
  color: #292929;
  font: 90% Roboto, Arial, sans-serif;
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-repeat: no-repeat; */
  background-position: center center;
}

p {
  padding: 0px 2px 0px 20px;
  line-height: 1.5;
  font-size: 10pt;
}

ul li {
  padding-right: 10px;
  font-size: 9pt;
}

h3 {
  padding: 5px 20px;
  margin: 0;
  font-size: 15pt;
}

h4 {
  margin: 0;
}

h5 {
  padding: 5px 20px;
  margin: 0;
}

audio {
  width: 220px;
  margin-top: 20px;
}

div#content-container {
  margin: 90px;
  /* border: 2px solid red; */
}

div#entirepage-container {
  border: 2px solid transparent;
  background-size: 100% 100%;
}

.icons {
  display: grid;
  place-items: center;
  padding: var(--sm) 0;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 1rem;
}

div#entirehabits-container {
  border: 2px solid #D8D8D8;
  padding: 20px 0px 20px 0px;
  background-color: rgb(255, 255, 255, .75);
  padding: 10px;
}

div#container2 {
  border: 2px solid none;
  padding: 10px;
}

div#extra {
  border: 2px solid #D8D8D8;
  background-color: rgb(255, 255, 255, .75);
  margin-top: 20px;
  width: 23%;
  padding-top: 20px!important;
  padding: 5px;
}

div#habit-statuswrapper {
  float: right;
  width: 75%;
  border: 2px solid none;
}

div#wrapper2 {
  float: right;
  width: 75%;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #D8D8D8;
  background-color: rgb(255, 255, 255, .75);
  padding: 10px;
}

div#photobox {
  text-align: center;
  width: 23%;
  border: 2px solid #D8D8D8;
  background-color: rgb(255, 255, 255, .75);
  padding-top: 20px;
}

div#footer {
  text-align: center;
  clear: both;
  width: 100%;
}

#style {
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

div#footer {
  border: 2px solid none;
  color: black;
}

div#footer p {
  padding: 30px 10px;
}

img {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  margin: auto;
  display: block;
}

img.friends {
  width: 100px;
  border-radius: 0%;
  border: .5px solid black;
  float: left;
  margin: 10px;
  padding: 5px;
  background-color: white;
}

/*---------------online bug---------------*/
.icon-container {
  width: 92%;
  height: 92%;
  position: relative;
}

.online-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
  bottom: 5%;
  right: 70%;
  position: absolute;
}

/*---------------status box---------------*/
.statuscontainer {
  max-width: 1250px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #D8D8D8;
  background-color: rgb(255, 255, 255, .75);
}

.button-group {
  margin-bottom: 0px;
}

.posts {
  clear: both;
  list-style: none;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 0px;
  word-wrap: break-word;
  min-height: 42px;
}
