
html, body {
margin: 10px;
padding: 20px;
}

body {
color: #292929;
font: 90% Roboto, Arial, sans-serif;
font-weight: 300;
}

p {
padding: 10px 20px;
line-height: 1.8;
font-size: 9pt;
}

ul li {
padding-right: 10px;
font-size: 9pt;
}

h3 {
padding: 5px 20px;
margin: 0;
font-size: 9pt;
}

h4 {
margin: 0;
}

h5 {
padding: 5px 20px;
margin: 0;
}

div#extra {
background: white;
margin-top: 10px;
border: 2px solid #d8d8d8;
}

div#footer {
background: white;
color: black;
}

div#footer p {
padding: 30px 10px;
align: center;
}

div#wrapper {
float: right;
width: 95%;
margin-left: -200px;
}

div#wrapper2 {
float: right;
width: 95%;
margin-left: -200px;
padding-top: 10px;
}

div#content {
margin-left: 200px;
background: white;
margin-top: 0px;
border: 2px solid #d8d8d8;
}

div#statusbox {
margin-left: 200px;
margin-top: 10px;
border: 2px solid #d8d8d8;
}

div#photobox {
position: center;
padding-top: 1%;
width: 200px;
border: 2px solid #d8d8d8;
}

div#extra {
float: left;
clear: left;
width: 200px;
}

div#footer {
text-align: center;
clear: both;
width: 100%;
}

div.image::before {
border-radius: 40px;
padding-left: 10px;
}

/*---------------online bug---------------*/
.icon-container {
    width: 195px;
    height: 195px;
    position: relative;
    padding: 10px;
}
  
img {
    height: 92%;
    width: 92%;
    border-radius: 50%;
}
  
.online-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid white;
    bottom: 10%;
    right: 70%;
    position: absolute;
}

/*---------------status box---------------*/

.statuscontainer {
max-width: 850px;
padding: 20px;
}

.button-group {
margin-bottom: 0px;
}

.posts {
clear: both;
list-style: none;
}

.posts li {
background-color: #fff;
border: 1px solid #d8d8d8;
padding-top: 10px;
padding-left: 20px;
padding-right: 0px;
word-wrap: break-word;
min-height: 42px;
}
