<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>myhabit | a place for good habits</title>
  <link rel="stylesheet" href="profile.component.css"/>
</head>
<body>
<div id="container">
  <div id="container">
    <div id="header">
    </div>
    <div id="wrapper">
        <div id="content">
            <h3>habit ui</h3>
            <p><strong>Habits</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
              molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
              optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
              obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
              nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
              tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
              quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos.</p>
        </div>
    </div>
  
  <div id="photobox">
    <h3>${user.firstName}</h3>
    <div> <img src="images/photoplaceholder.jpeg" class="padding" alt="profilephoto" height="175"></div>
    <h5>St. Louis, MO</h5>
    <p>Status</p>
  </div>
  <div id="extra">
    <p><strong>Additional Stuff</strong></p>
    <p>interests</p>
    <ul>
      <li>reading</li>
      <li>music</li>
      <li>art</li>
    </ul>
  </div>
  <div id="footer"><p>This is not affiliated with the original MySpace.</p></div>
  </div>
</div>
</body>
</html>