<div class="main">
<!-- sidebar starts -->
  <div class="sidebar">
  
    <img src="../../assets/images/myhabitlogo-transparent.png" alt="my habit logo">

    
    <button type="button" class="sidebarOption active">
      <i class='bx bx-home bx-sm' ></i>
      <h2>Home</h2>
    </button>
    
    <button type="button"class="sidebarOption">
      <i class='bx bx-user bx-sm' ></i>
      <h2>Profile</h2>
    </button>

    <button class="sidebarOption">
      <i class="ri-message-2-line ri-xl"></i>
      <h2>Messages</h2>
    </button>
    

    <button type="button" class="sidebar-logout">Sign Out</button>
    
  </div>
<!-- sidebar ends -->

<!-- timeline begins -->

  <div class="timeline">
    <p>Timeline Component</p>
  </div>

  <div class="search-bar">
    <i class='bx bx-search'></i>
    <input type="type" placeholder="Search Habits">
  </div>

<!-- timeline ends -->
</div>