* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;

    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    max-width: 1300px;
    /* min-width: 250px; */
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;

}

img {
  padding-top: -10px;
  width: 100px;
  height: auto;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption i, img {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color:var(--twitter-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}


.sidebarOption.active {
  color: var(--twitter-color);
}

.sidebar-logout {
  width: 100%;
  background-color:var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: auto;
  margin-bottom: 35px;
  cursor: pointer;
}

.search-bar {
  width: 330px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 50px;
  padding: 0px 25px;
}

input {
  width: 240px;
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
}

.search-bar i:hover- {
  color: var(--twitter-color);
}

