
<div class="imgcontainer">
<a href="https://imgbb.com/"><img src="https://i.ibb.co/Zxg1VBF/myhabit.png" alt="myhabit" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'></a><br />
</div>

<nav class="navbar">
  <span>MyHabit</span>

  <ul class="links">
    <li>
      <a href="#"><i class="ri-user-fill"></i>Sign In</a>
    </li>
    <li>
      <a href="#">Register</a>
    </li>
  </ul>
</nav>

<div class="box">


<p>New Users:<p>
<table>
  <tr>
    <th>Jonathan</th>
    <th>Alexandra</th>
    <th>Jordan</th>
  </tr>
  <tr>
    <td>
    <div class="img">
    <a href="https://ibb.co/wCtm6yw"><img src="https://i.ibb.co/J2ZJkny/blank-profile-picture-973460-1280.webp" alt="blank-profile-picture-973460-1280" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'></a><br />
    </div>
    </td>
    <td>
    <div class="img">
    <a href="https://ibb.co/wCtm6yw"><img src="https://i.ibb.co/J2ZJkny/blank-profile-picture-973460-1280.webp" alt="blank-profile-picture-973460-1280" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'></a><br />
    </div>
    </td>
    <td><div class="img">
    <a href="https://ibb.co/wCtm6yw"><img src="https://i.ibb.co/J2ZJkny/blank-profile-picture-973460-1280.webp" alt="blank-profile-picture-973460-1280" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'></a><br />
    </div></td>
  </tr>
  <tr>
   
    
  </tr>
</table>
</div>



